.ipynb_checkpoints
.DS_Store
.vscode/
.vector_cache
src/.data/*
src/data
src/experiment_5_old.ipynb
src/tmp
src/testwmefolder
src/.vector_cache
src/models/.pretrained_model_cache
src/.pretrained_model_cache
src/lightning_logs
src/lstm_logs
src/tb_logs
src/csv_logs
src/exp_logs
src/exp1
src/exp1_csv
src/exp2
src/exp2_csv
src/exp3
src/exp3_csv
src/exp4
src/exp4_csv
src/exp5
src/exp5_csv
src/exp6
src/exp6_csv
src/model_ckpt
src/exp1-ckpt
src/lstm
src/lstm_exp_csv
src/archive
src/results/exp5_all_old.csv
src/data_classes/__pycache__/IMDB.cpython-38.pyc
src/scale_batch_size_temp_model.ckpt
sentiment_analysis_workspace.code-workspace
src/lr_find_temp_model.ckpt
src/data_classes/__pycache__/IMDBLightningDataModule.cpython-38.pyc
src/data_classes/__pycache__/pretrained_embeddings.cpython-38.pyc
src/models/__pycache__/LSTM.cpython-38.pyc
src/models/__pycache__/ClassifierSystem.cpython-38.pyc
src/models/__pycache__/RNN.cpython-38.pyc
src/data_classes/__pycache__/TextLightningDataModule.cpython-38.pyc
.gitignore
src/data_classes/__pycache__/YelpReview.cpython-38.pyc
src/metrics.py
src/test.ipynb
src/models/__pycache__/DocLevelModel.cpython-38.pyc
src/models/__pycache__/wme.cpython-38.pyc
src/.DS_Store
src/models/__pycache__/ClassifierSystem.cpython-39.pyc
src/models/__pycache__/DocLevelModel.cpython-39.pyc
src/models/__pycache__/RNN.cpython-39.pyc
src/data_classes/__pycache__/IMDB.cpython-39.pyc
src/data_classes/__pycache__/pretrained_embeddings.cpython-39.pyc
src/data_classes/__pycache__/TextLightningDataModule.cpython-39.pyc
src/data_classes/__pycache__/YelpReview.cpython-39.pyc
src/models/__pycache__/wme.cpython-39.pyc



!src/.data/IMDB_train_wme_train_300.npy
!src/.data/IMDB_test_wme_test_300.npy
!src/.data/IMDB_bert_train.pt
!src/.data/IMDB_bert_test.pt
